@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/* font-family: 'Montserrat', sans-serif; */

/*--------------
	--------- GRANAL CS -----------
		-------------------*/

body{color:#fff!important;font:400 16px "Open Sans",sans-serif!important;line-height:26px!important}
h1,h2,h3,h4,h5,h6{}
h2{
	font: 600 48px "Open Sans",sans-serif!important;
	line-height: 58px;
	margin-bottom:30px!important;
}
img{
	width: 100%;
	position: relative;
}
img::before{
	content: 'jkk';
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




/*-------------------
	------------ORDER TABLE --------
	-------------------------*/ 
	/* 	1) Header_top area
		2) Hero Area
		3) Find a Jobs_area
		4) article-area
		5) freelancer_catagory-area
		6) Connecting-area
		7) Smarter-area
		8) category-area 
		9) footer_top-Area
		10) footer 
	*/


/* 
========================
	1) Header_top area Stard
========================
*/
header{
	position: absolute;
	width: 100%;
	display: none;
}
header .navbar{
	padding: 24px 60px;
}
header strong{
	font: 600 18px 'Montserrat', sans-serif;
	letter-spacing: 5px;
}
header strong span{
	font: 600 12px 'Montserrat', sans-serif;
	letter-spacing: 5px;

}
header .sub-title span{
	position: relative;
	font-size: 13px;
	font-weight: 600;

}
header .sub-title span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	min-height: 50px;

}
header .navbar-nav li a{
	line-height: 41px;
	font-size: 13px;
	font-weight: 600;
	padding-right: 40px !important;
	color: #fff !important;

}
header .form a{
	line-height: 41px;
	border: 1px solid #fff;
	padding: 0 35px;
	border-radius: 25px;
	display: inline-block;
}
header .form .login{
	margin-right: 10px;
}
/* 
========================
	1) Header_top area end
========================
*/
/* 
========================
	2) Hero Area Stard
========================
*/
.hero_area{
	background-position: bottom center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 990px;
}
.align{
	padding-top: 140px;
}
.hero_area .content h1{
	font: 900 72px 'Montserrat', sans-serif;
	padding-top: 40px;
}
.hero_area .content p{
	font: 300 24px "open sans", sens-serif;
	line-height: 34px;
}
.big-btn{
	line-height: 72px;
	padding: 0 55px;
	border-radius: 50px;
	border: 1px solid #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	margin-top: 40px;
}

/* 
========================
	2) Hero Area Stard end
========================
*/

/* 
========================
	3) Find a Jobs_area Stard
========================
*/
.jobs-area{
	color: #7d7d7d;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	padding: 140px 0;
}
.jobs-area .all-jobs{
	padding-bottom: 140px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.jobs-area .single-jobs img{
	max-width: 100px;
	min-height: 100px;
	border-radius: 10px;
}
.jobs-area .single-jobs p{
	padding-top: 20px;
}
.jobs-area .title h2{
	color: #4f4f6f;
}
.jobs-area .title p{
	color: #7d7d7d;
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;

}
.jobs-search .form input{
	width: 770px;
}
.jobs-search .form button {
	position: absolute;
	top: 6px;
	left: 65%;
}
.jobs-search .form input[type="text"]{
	border: 1px solid #ebebeb;
	line-height: 64px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 37px;
	border-radius: 30px;
	font-size: 16px;
}
.s-btn{
	line-height: 55px;
	padding: 0 70px;
	border-radius: 30px;
	border: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.jobs-search .jobs-btn{
	background: linear-gradient(to left, #544cf9, #814cf9);
}
button:focus{
	outline: none;
}
.jobs-btn-b{
	line-height: 70px;
	padding: 0 70px;
	border-radius: 30px;
	border: none;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 15px -8px #000;
	box-shadow: 1px 1px 15px -8px #000;
	margin: 70px 10px;
	padding-left: 102px;
	position: relative;
}
.icon2::before,
.icon1::before {
	position: absolute;
	top: 2%;
	left: 22%;
	font-family: FontAwesome;
	font-size: 33px;
}
.icon1::before {
	content: "\f09a";
}
.icon2::before {
	content: "\f09a";
}
.jobs-btn-b i.fa{

}
/* 
========================
	3) Find a Jobs_area end
========================
*/
/* 
========================
	4) article-area stard
========================
*/
.article-area{
	background: #555;
	padding: 170px 0;
}
.article-area title p{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.article-area title h2{
	padding-top: 30px;
}
.article-area .detalls h3{
	color: 24px;
	color: #6684f2;
}
.article-area .detalls ul li{
	font-size: 15px;
	list-style: none;
	position: relative;
	padding-left: 24px;
	line-height: 24px;
}
.article-area .detalls ul li::before{
	position: absolute;
	content: '';
	left: 0;
	top: 6px;
	width: 10px;
	height: 10px;
	background: #6684f2;
	border-radius: 50%;
}
.article-area .s-btn{
	background: #6684f2;
	display: inline-block;
	margin-top: 60px;
}
/* 
========================
	4) article-area end
========================
*/

/* 
========================
	5) freelancer_catagory-area Stard
========================
*/
.freelancer_catagory .single_catagory{
	padding: 84px 84px;
}
.freelancer_catagory .single_catagory .s-btn{
	background: #252525;
	display: inline-block;
	opacity: 0;
	transition: 0.8s;
}
.color1{
	background: #af71fd;
}
.color2{
	background: #ed145b;
}
.color3{
	background: #92278f;
}
.color4{
	background: #544cf9;
}
.freelancer_catagory .single_catagory .icon i.fa{
	font-size: 50px;
}
.freelancer_catagory .single_catagory .content h3{
	font-size: 22px;
	font-weight: 600;
	padding: 30px 0;
}
.freelancer_catagory .single_catagory .content p{

}
.freelancer_catagory .single_catagory:hover .s-btn{
	opacity: 1;
}

/* 
========================
	simple-information Stard
========================
*/
.simple-information{
	padding: 134px 0;
}
.simple-information .title h2{
	color: #4f4f6f;
}
.simple-information .title p{
	color: #7d7d7d;
}
.simple-information .content p{
	color: #000;
}
.simple-information .item img{
	position: relative;
}
.simple-information .item img::before{
	content: '';
	position: absolute;
}
/* 
========================
	simple-information end
========================
*/
/* 
========================
	5) freelancer_catagory-area end
========================
*/

/* 
========================
	6) Connecting-area Stard
========================
*/
.Connecting-area{
	min-height: 1080px;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 100px 0;
}
.Connecting-area h2{
	padding-top: 44px;
}
/* 
========================
	6) Connecting-area  end
========================
*/
/* 
========================
	7) Smarter-area Stard
========================
*/
.Smarter-area{
	min-height: 780px;
	background: #af9ffb;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.Smarter-area p{
	font-size: 30px;
	line-height: 34px;
	font-weight: 300;
	opacity: 0.7;
}

/* 
========================
	7) Smarter-area end
========================
*/

/* 
========================
	8) category-area Stard
========================
*/
.category-area{
	padding: 130px 0;
	background: #252525;
}
.category-area .title h3{
	font-size: 22px;
	font-weight: 300;
	padding-bottom: 50px;
}
.category-area .item_left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.category-area .item li a{
	color: #6684f2;
	font-size: 16px;
	line-height: 36px;
}

/* 
========================
	8) category-area end
========================
*/
/* 
========================
	9) footer_top-Area Stard
========================
*/
.footer_top .title img{
	max-width: 170px;
}
.pdding-t{
	padding-top: 140px;
}
.footer_top .footer_manu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer_top .footer_manu h4{
	color: #000;
	font-size: 18px;
	padding-bottom: 30px;
}
.footer_top .footer_manu li a{
	color: #7d7d7d;
	font-size: 14px;
	line-height: 34px;
}
.footer_top .count {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer_top .count p{
	color: #000;
	font-size: 11px;
	font-weight: 900;
}
.footer_top .count p span{
	font-size: 20px;
	color: #544cf9;
	padding-right: 5px;

}
.footer_top .subscribe h3{
	font-size: 22px;
	color: #000;
	font-weight: 300;
}
.footer_top .title,
.footer_top .count{
	padding-bottom: 55px;
}
.footer_top .subcribe-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
}
.footer_top .subcribe-form input{
	width: 100%;
	line-height: 40px;
	border:  1px solid #d9e6ec;
	padding: 0 20px;
	border-radius: 20px;

}
.footer_top .subcribe-form .sub-btn{
	line-height: 40px;
	padding: 0 30px;
	background: linear-gradient(to left, #544cf9, #814cf9);
	border-radius: 0 20px 20px 0;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}
/* 
========================
	9) footer_top-Area end
========================
*/
/* 
========================
	10) footer Stard
========================
*/
footer{
	padding: 60px 0;
}
footer .footer_manu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
footer .row{
	padding: 40px 0;
	border-top:  1px solid #d9e6ec;
}
footer .footer_manu ul a{
	color: #000;
	padding-right: 25px;
}
footer .footer_manu p{
	color: #9fa4af;
	padding-top: 30px;
}
footer .footer_manu p span{
	color: #544cf9;
}
footer .footer_icon label{
	color: #7d7d7d;
}
footer .footer_icon select{
	border: none;
}
footer .icon{
	padding-top: 30px;
}
footer .icon i.fa{
	width: 50px;
	height: 50px;
	background: #ecf5f6;
	border-radius: 50%;
	color: #959595;
	line-height: 50px;
	font-size: 25px;
}
/* 
========================
	10) footer end
========================
*/



